.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

/* Затемнение при наведении на контейнер */
.profile__avatar-container:hover::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(196, 196, 196, 0.6);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}

/* Кнопка редактирования — показываем при наведении */
.profile__avatar-edit-button {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease;
}

.profile__avatar-container:hover .profile__avatar-edit-button {
  display: block;
}

/* Размер попапа */
.popup_type_edit-avatar {
  width: 430px;
  height: 272px;
}

.popup_type_confirm {
  width: 430px;
  height: 181px;
}

/* Иконка редактирования */
.profile__image-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 3;
}

/* Появление иконки при наведении на контейнер */
.profile__avatar-container:hover .profile__image-icon {
  opacity: 1;
  pointer-events: auto;
}
